<p id="notice"><%= notice %></p>

<p>
  <b>List code:</b>
  <%= @ota_code_list_code.list_code %>
</p>

<p>
  <b>Name:</b>
  <%= @ota_code_list_code.name %>
</p>

<p>
  <b>Code:</b>
  <%= @ota_code_list_code.code %>
</p>

<p>
  <b>Domain:</b>
  <%= @ota_code_list_code.domain %>
</p>

<p>
  <b>Definition:</b>
  <%= @ota_code_list_code.definition %>
</p>

<p>
  <b>Date:</b>
  <%= @ota_code_list_code.date %>
</p>


<%= link_to 'Edit', edit_ota_code_list_code_path(@ota_code_list_code) %> |
<%= link_to 'Back', ota_code_list_codes_path %>
