<%= form_for(@geo_country) do |f| %>
  <% if @geo_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geo_country.errors.count, "error") %> prohibited this geo_country from being saved:</h2>

      <ul>
      <% @geo_country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_en %><br />
    <%= f.text_field :name_en %>
  </div>
  <div class="field">
    <%= f.label :alpha2 %><br />
    <%= f.text_field :alpha2 %>
  </div>
  <div class="field">
    <%= f.label :alpha3 %><br />
    <%= f.text_field :alpha3 %>
  </div>
  <div class="field">
    <%= f.label :un_m49 %><br />
    <%= f.text_field :un_m49 %>
  </div>
  <div class="field">
    <%= f.label :iso %><br />
    <%= f.text_field :iso %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
